# Test variable for dotenvx setup
FOO='Apples & Pears'

# Set CLERK_SECRET_KEY using dotenvx; see doc/local-dev-setup.md

# Clerk
VITE_CLERK_SIGN_IN_URL=/sign-in
VITE_CLERK_SIGN_UP_URL=/sign-up
VITE_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/app
VITE_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/app
VITE_CLERK_PUBLISHABLE_KEY=pk_test_c3RlcmxpbmctdGlnZXItNTAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=
CLERK_TEST_USER_ID=user_3GBvcSI92N5iMVnBmZ39ARSNEn0
